* {
  font-family: "Baskerville", serif;
}

/* navigation bar */
.nav {
  display: flex;
}

.nav a {
  color: black;
  text-align: center;
  font-size: 17px;
  padding: 14px;
  background-color: #999;
  flex: 1;
  margin: 15px;
}

.nav a.active {
  background-color: #bbb;
}

.nav a:hover {
  background-color: #ddd;
  flex: 1.5;
}

/* talk bar */
.talk-box {
  /* background-color: #ffe4e1; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  align-self: center;
  color: black;
  background-color: #fff;
  text-align: center;
  background-image: url(talkbar.png);
  background-repeat: no-repeat;
  max-height: 150px;
  overflow: auto;
}

.texts {
  display: flex;
  flex-direction: column;
}

.texts > div {
  padding: 10px;
  font-size: 18px;
  border-radius: 25px;
  margin: 10px;
  width: fit-content;
}

.replay {
  background-color: #ddd;
}

.spoken {
  background-color: #afa;
}
