/* layout */
.wrapper {
    display: grid;
    grid-template-columns: 500px 500px;
    height:300px;
    grid-gap: 150px;
}

.total{  
    display: flex;   
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total > div{
    background-color: none;
    width: 200px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

.credit-card{
    display: grid;
    grid-template-columns: 50% 50%;

}

.credit-card > div {
    border: solid black;
    height: 100px;
}

.credit-card > div >img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    /* background-color: navajowhite; */
}

/* background image */
div
{
    display: grid; 
    position: relative;
}
  
div::after
{
    content: "";
    background: url(bg_pay.png);
    background-color: #EFF4F7; 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -20;
}
/* background image */