#map{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div::before {
    content: "";
    background: url(seatingbg.png);
    background-color: #eff4f7;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -20;
  }